.text-area {
    -fx-background-color: #0A68C6;
    -FX-Text-Fill: #FFFFFF
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}